--extra-index-url https://pypi.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu118

tensorrt==8.5.3.1
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
cuda-python==12.2.0
pytorch_lightning==2.4.0
ultralytics==8.3.221
numpy == 1.23.5
nvidia-cudnn-cu11==8.9.6.50